/*GLOBAL*/
* {
  font-family: "Open Sans", san-serif;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e8e8e8;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
h5,
h6 {
  margin-bottom: 0;
  font-family: "Montserrat", san-serif;
  color: #1d1d1d;
}

h1 {
  font-size: 3.052rem;
  font-weight: 700;
}

h2 {
  font-size: 1.953rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

h4,
p {
  font-size: 1rem;
  font-weight: 400;
}

h5 {
  font-size: 0.8rem;
  font-weight: 400;
}

h6 {
  font-size: 0.64rem;
  font-weight: 300;
}

p {
  color: #333;
}

ol,
ul {
  padding-left: 0;
}

.form-control:disabled {
  opacity: .5;
}

#code:disabled {
  opacity: 1;
  color: #ed254e;
}
.check {
  color: #ed254e;
  font-size: 12px;
}
.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/*BOOSTRAP CUSTOMIZES*/
.table {
  margin-bottom: 0;
}

.table-hover>tbody>tr:hover>* {
  --bs-table-bg-state: #eee;
}

form {
  border-radius: 6px;
  padding: 0 1rem 0 1rem;
}

.form-group {
  padding-bottom: 1.5rem;
}

.form-group:first-of-type {
  padding-top: 1.5rem;
}

.form-group input[type=radio] {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.form-group i {
  width: 17px;
  height: 17px;
}

.form-group textarea {
  border: none;
}

.input-group .input-group-text {
  height: 34px;
  width: 34px;
  border-radius: 6px 0 0 6px;
  background-color: #e8c400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.input-group .input-group-text i {
  font-size: 17px;
}

.input-group .form-control {
  height: 34px;
}

.admin__header__wrapper {
  background-color: #1f1f1f;
  box-shadow: 0 0 10px 1px #888;
}

.admin__header {
  height: 60px;
  background-color: inherit;
  justify-content: space-between;
}

.admin__header .logo {
  width: 200px;
  background-color: #1f1f1f;
}

.admin__header .logo>* {
  color: #fff;
}

.admin__header .searchbox {
  padding: 6px;
  width: 60vw;
}

.admin__header .searchbox input::placeholder {
  opacity: 1;
}

.admin__sidebar {
  background-color: #eee;
  width: 50px;
  height: 100vh;
  margin-top: 60px;
  position: fixed;
  left: 0;
}

.admin__sidebar a {
  width: 40px;
  background-color: #e8c400;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 10px 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin__sidebar i {
  font-size: 1.5rem;
}

.admin__main #product-table-admin tr,
.admin__main #product-table-admin td {
  height: 140px;
}

.admin__main .table-responsive {
  max-height: 84vh;
  overflow: auto;
  background-color: #fff;
  width: 100%;
}

.admin__main .table-responsive h4,
.admin__main .table-responsive p {
  font-weight: 600;
}

.admin__main .table-responsive h4 span,
.admin__main .table-responsive p span {
  font-weight: 500;
  color: red;
}

.admin__main .table-responsive .table-title {
  background-color: #fff;
  justify-content: space-between;
}

.admin__main .table-responsive .table-title h3 {
  font-family: "Open Sans", san-serif;
  color: #1f1f1f;
  font-weight: 700;
}

.admin__main .table-responsive img {
  width: 80px;
  height: 60px;
}

.admin__main .product-row {
  height: 190.4px;
}

.admin__main #product-form {
  background-color: #e8e8e8;
}

.admin__main #product-delete-form {
  background-color: #e8e8e8;
}

.admin__main .product-group-manage i {
  font-size: 1.25rem;
}


.admin__main .product-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-row {
  cursor: pointer;
}
#student-input .input-group-prepend .input-group-text {
  background-color: #1a8fe3;
}

#employee-input .input-group-prepend .input-group-text {
  background-color: #478978;
}

#customer-input .input-group-prepend .input-group-text {
  background-color: #ed254e;
}
